* {
  box-sizing: border-box;
  background-color: rgb(2, 11, 37);
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 5rem;
  color: rgb(81, 205, 247);
  text-shadow: 0 0 60px rgb(81, 205, 247);
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
  color: white;
}

li{
  padding: 4px;
  color: white;
  
  font-size: 0.85rem;
}

.square {
  border: 6px solid #FF1493;
  box-shadow: 0px 0px 5px 5px #ffa9d7;
  float: left;
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 34px;
  height: 9rem;
  width: 9rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.game {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 10px;
  justify-content: center;
}

.game-board{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.gameTitle{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.status{
  align-self: flex-end;
  margin-bottom: 20px;
  padding: 1rem;
}

.game-info {
  margin-top: 20px;
  margin-left: 20px;
  max-height: 8vh;
  color: white;
}

.isRed{
  color: green;
  text-shadow: 0 0 24px green;
}

.isGreen{
  color: yellow;
  text-shadow: 0 0 24px yellow;
}

.status{
  color: white;
  background-color: transparent;
}

button{
  color: white;
  border: none;
  font-size: 0.85rem;
}

button:hover{
  cursor: pointer;
}

.btnMoves:hover{
  scale: 1.1;
}

.winner{
  background-color: rgb(81, 205, 247);
  box-shadow:0 0 20px rgb(81, 205, 247);
  color: black;
  padding: 2rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 20vh;
  top: 40vh;
  left: 35vw;
  position: absolute;
  animation: win 1s ease-in-out;
}

.winnerTitle{
  font-size: 1.5rem;
}

p{
  background-color: transparent;
  margin: 10px;
}

@keyframes win {
  0%{
    left: -35vw;
    top: 40vh;
  }
  100%{
    left: 35vw;
  }
}